In [157]:
import pandas as pd, numpy as np
import geopandas as gp
from geopy.geocoders import GoogleV3
from shapely import wkt
# from shapely.geometry import Polygon, Point
from geo_df import GeoDF

In [158]:
def head(dfs):
    if type(dfs) != list:
        dfs = [dfs]
    for df in dfs:
        print("COLS: ", df.shape[1])
        print("ROWS: ", df.shape[0])
        display(df.head(3))

In [159]:
school_county = pd.read_csv('../education/output/dist_grad_rate.csv')[['county', 'school_dist']].rename(columns={'school_dist': 'dist'})
school_county = school_county[school_county.county != "STATE TOTAL"]

county = pd.read_csv('raw/county.csv')[['the_geom', 'COUNTY']
        ].rename(columns={'the_geom':'geo_county', 'COUNTY': 'county'})

school_raw = pd.read_csv('raw/school.csv')[['the_geom', 'LGNAME', 'MAIL_ADDRE', 'MAIL_CITY', 'MAIL_STATE', 'MAIL_ZIP']
        ].rename(columns={'the_geom':'geo_dist', 'LGNAME':'dist', 'MAIL_ADDRE':'STREET', 'MAIL_CITY':'CITY', 'MAIL_STATE':'STATE', 'MAIL_ZIP':'ZIP'})

county.rename(columns={'geo_county':'geo'}).to_csv('output/geo_county.csv', index=False)

for c in school_raw.columns:
    school_raw = school_raw.rename(columns={c: c.lower()})

school_raw.dist = school_raw.dist.str.replace(" SCHOOL DISTRICT", "")

head([school_county, county, school_raw])

COLS:  2
ROWS:  183

  county                        dist
1  ADAMS                  MAPLETON 1
2  ADAMS  ADAMS 12 FIVE STAR SCHOOLS
3  ADAMS             ADAMS COUNTY 14

COLS:  2
ROWS:  64

,geo_county,county
0,"MULTIPOLYGON (((-103.70574149517748 39.99991107042795, -103.70569138748112 3...",ADAMS
1,"MULTIPOLYGON (((-105.59917426201822 37.75216482756073, -105.51618981016665 3...",ALAMOSA
2,"MULTIPOLYGON (((-103.70653410023402 39.73985805651939, -103.70661389911427 3...",ARAPAHOE

COLS:  6
ROWS:  178

,geo_dist,dist,street,city,state,zip
0,"MULTIPOLYGON (((-106.59904239399998 39.03627921200007, -106.59894639399994 3...",Buena Vista R-31 School District,PO Box 2027,Buena Vista,CO,81211
1,"MULTIPOLYGON (((-102.43672348799998 39.58525157100007, -102.41964448399995 3...",Burlington RE-6J School District,PO Box 369,Burlington,CO,80807
2,"MULTIPOLYGON (((-104.28505092499995 39.56495844300008, -104.28426593999995 3...",Byers 32J School District,444 East Front Street,Byers,CO,80103

In [160]:
df = school_raw.copy()

df.dist = df.dist.str.lower()

df.dist = df.dist.str.replace(" school district", "")

df = df[df.dist != 'consolidated c-1']
df = df[df.dist != 'florence re-2']
df = df[df.dist != 'gilcrest re-1']


df.dist = df.dist.str.replace('bayfield 10 jt.-r', 'bayfield 10 jt-r', regex=False)
df.dist = df.dist.str.replace('buffalo re-4', 'buffalo re-4j', regex=False)
df.dist = df.dist.str.replace('creede consolidated 1', 'creede school district', regex=False)
df.dist = df.dist.str.replace('dolores county re no. 2', 'dolores county re no.2', regex=False)
df.dist = df.dist.str.replace('gunnison re1j', 'gunnison watershed re1j', regex=False)
df.dist = df.dist.str.replace('keenesburg re-3j', 'keenesburg re-3(j)', regex=False)
df.dist = df.dist.str.replace('mcclave re-2', 'mc clave re-2', regex=False)
df.dist = df.dist.str.replace('pueblo city schools', 'pueblo city 60', regex=False)
df.dist = df.dist.str.replace('pueblo county rural 70', 'pueblo county 70', regex=False)
df.dist = df.dist.str.replace('st. vrain valley re 1j', 'st vrain valley re 1j', regex=False)
df.dist = df.dist.str.replace('thompson r-2j', 'thompson r2-j', regex=False)
df.dist = df.dist.str.replace('weld county re-8', 'weld county s/d re-8', regex=False)
df.dist = df.dist.str.replace('debeque 49jt', 'de beque 49jt', regex=False)
df.dist = df.dist.str.replace('lewis palmer 38', 'lewis-palmer 38', regex=False)
df.dist = df.dist.str.replace('north park r-1', 'north park r-1 ', regex=False)

df.dist = df.dist.str.upper()

school = df
head(school)

COLS:  6
ROWS:  175

,geo_dist,dist,street,city,state,zip
0,"MULTIPOLYGON (((-106.59904239399998 39.03627921200007, -106.59894639399994 3...",BUENA VISTA R-31,PO Box 2027,Buena Vista,CO,81211
1,"MULTIPOLYGON (((-102.43672348799998 39.58525157100007, -102.41964448399995 3...",BURLINGTON RE-6J,PO Box 369,Burlington,CO,80807
2,"MULTIPOLYGON (((-104.28505092499995 39.56495844300008, -104.28426593999995 3...",BYERS 32J,444 East Front Street,Byers,CO,80103

In [161]:
pd.options.display.max_colwidth = 80
df = school_county.merge(school, on='dist', how='left')
df = df.merge(county, on='county', how='left')

df['address'] = df.street + ', ' + df.city + ', ' + df.state + ', ' + df.zip

df['geo_dist_point'] = np.NaN
google_api_kwargs = dict(provider='google', api_key='AIzaSyDap_ZvBSpPbm7qjVSzItd5s1mapKPqjWc')

df.loc[ ~ df.address.isna(), 'geo_dist_point'] = gp.tools.geocode(df.address, **google_api_kwargs)['geometry']

df['geo_county_point'] = gp.tools.geocode(df.county.str.capitalize() + " County, Colorado", **google_api_kwargs)['geometry']

df = df[['county', 'dist', 'geo_county', 'geo_dist', 'geo_county_point', 'geo_dist_point', 'address', 'street', 'city', 'state', 'zip']]
head(df)

COLS:  11
ROWS:  183

,county,dist,geo_county,geo_dist,geo_county_point,geo_dist_point,address,street,city,state,zip
0,ADAMS,MAPLETON 1,"MULTIPOLYGON (((-103.70574149517748 39.99991107042795, -103.70569138748112 3...","MULTIPOLYGON (((-105.01581612299998 39.81447742800003, -105.01569112399994 3...",POINT (-104.19309 39.83983),POINT (-104.9187196 39.8415103),"5910 East 80th Avenue, Denver, CO, 80229",5910 East 80th Avenue,Denver,CO,80229
1,ADAMS,ADAMS 12 FIVE STAR SCHOOLS,"MULTIPOLYGON (((-103.70574149517748 39.99991107042795, -103.70569138748112 3...","MULTIPOLYGON (((-105.05310614499996 39.93029344100006, -105.05292314599996 3...",POINT (-104.19309 39.83983),POINT (-104.9668135 39.9262994),"1500 E 128th Avenue, Thornton, CO, 80241",1500 E 128th Avenue,Thornton,CO,80241
2,ADAMS,ADAMS COUNTY 14,"MULTIPOLYGON (((-103.70574149517748 39.99991107042795, -103.70569138748112 3...","MULTIPOLYGON (((-104.96883410999999 39.79100642800006, -104.96776810999995 3...",POINT (-104.19309 39.83983),POINT (-104.9268419 39.8059605),"5291 East 60th Avenue, Commerce City, CO, 80022",5291 East 60th Avenue,Commerce City,CO,80022

In [163]:
df.to_csv('output/geo_county_school.csv', index=False)